#firstname {
    width: 280px;
    height: 33px;
    font-size: 14px;
}

#email {
    width: 280px;
    height: 33px;
    font-size: 14px;
}

#subject {
    width: 580px;
    height: 33px;
    margin-top: 24px;
    font-size: 14px;

}

#subject::placeholder {
    width: 100px;
}

#message {
    margin-top: 24px;
    resize: none;
    border: none;
    border-bottom: 1px solid #D4D4D4;

    font-size: 14px;
}

body {
    text-align: center;
    /* changed */
    width: 100vw;
}

.d-flex {
    display: flex;
}

.mobile-header {
    display: none;
}

.mobile-nav,
.mobile-our-products_box {
    display: none;
}

header {
    height: 920px;
    background-image: url(../images/Rectangle\ 1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    padding-top: 24px;
    padding-left: 130px;
    padding-right: 127px;
    justify-content: space-between;
}

.font_family {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #836D6B;
    text-align: left;
}

.font_size_500 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #13182A;
}

.font_size_500_14px {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #000000;
}

/* CSS styles for logo and navigation */
.logo {
    width: 103.12px;
    height: 55px;
}

nav {
    margin-top: 20px;
    margin-left: 309px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 577px;
}

nav ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    color: #FFFFFF;
}

.button {
    background: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #fff;
    font-size: 16px;

    cursor: pointer;
    width: 138px !important;
    min-width: 138px;
    height: 48px;
    border: 1.5px solid #FFFFFF;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.slogan_about_company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 53px;
    width: 680px;
    height: 306px;
    margin-top: 174px;
    margin-left: 130px;
}

.slogan_about_company__text {
    width: 680px;
    height: 198px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 120%;
    /* or 66px */
    text-align: left;
    color: #FFFFFF;
}

.slogan_about_company__button {
    padding: 18px;
    gap: 10px;

    width: 180px;
    height: 55px;

    background: #FFFFFF;
    border-radius: 14px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    text-align: center;

    color: #E34234;
}

/* ----------------------------------------------------------------------------------- */
.history_of_company {
    height: 1321px;
    padding: 80px 130px;
}

.history_of_company_box {
    height: 100%;
}

.history_of_company_box_head {
    height: 135px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 121px;
}

.history_of_company_box_head h1 {
    width: 480px;
    text-align: left;
}

.history_of_company_box_head p {
    width: 579px;
}

.supplier-information {
    margin-top: 64px;
    text-align: left;
}

.supplier-information_box {
    min-width: 310px;
    margin-right: 57px;
    height: 215px;
    padding-left: 33px;
    /* _________ */
    border-left: 2px solid #C9C9C9;
    position: relative;
}

.supplier-information_box::before {
    content: '';
    position: absolute;
    bottom: -10px;
    border-left: 2px solid;
}

.supplier-information_box::before {
    bottom: 0;
    top: 55px;
    left: -2px;
    border-color: #EC1C24;
}

/* ------- */

.supplier-information_box h1 {
    width: 23px;
    height: 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #E34234;
}

.supplier-information_box p {
    height: 162px;
    margin-top: 15px;
}

/* -------------------------------------------------------------------------------------- */
.slider-container {
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 574px;

    -ms-overflow-style: none;

}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slider {
    display: inline-flex;
    gap: 10px;
}

.slider_img {
    width: 319.98px !important;
    height: 318px !important;
    object-fit: cover;
}

.slick-track {
    display: flex !important;
    gap: 33px;
    width: 1500px !important;
}

/* ------------------------------------ */
.our-products_box {
    position: absolute;
    margin-top: 974px;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.our_products_title {
    width: 235px;
    height: 43px;
    margin: 0 auto;

}

.slider-container_our_products {
    margin-top: 42px;
    margin-left: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.slider_our_products {
    overflow-x: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    display: flex;
}

.slider_our_products::-webkit-scrollbar {
    display: none;
}

.slider_our_products__box {
    padding: 4px;
    width: 350px !important;
    /* height: 357px !important; */
    background: #FFFFFF;
    border: 1px solid #F0EDF3;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.our_products_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 14px;
    padding: 0px 16px 14px;
    gap: 10px;
    width: 259px;
    /* height: 75px; */
    text-align: left;
}

.slider_our_products__title {
    width: 227px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    color: #000000;

}

.our_products_button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;

    background: none;
    color: #CF2F21;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.arrow_right {
    width: 20px;
    margin-left: 8px;
}

.our_products_img img {
    width: 341.98px;
    height: 259.98px;
}
.content {
    display: none;
    position: relative;
}
.content h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #836D6B;
}
.content ul {
    margin-left: 20px;
}
.content ul li {
    list-style: disc;
    margin-top: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #836D6B;
}
.expanded {
    max-height: 1000px;
  }
.contact-btn {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    top: 129px;
    right: -100px;
    padding: 5px 10px;
    border: none;
    color: #CF2F21;;
    cursor: pointer;
  }
/* ----------------------------------------------------------------------------------- */

.map {
    height: 859px;
    left: 0px;
    background: #F0EDF3;
    padding: 177px 62px 18px 130px;
}

.map_box {
    height: 100%;
    display: flex;
}

.map_box_info {
    width: 552px;
    left: 0;
    height: 100%;
    margin-top: 22px;
    padding-bottom: 74px;
}

.map_box_info div h1 {
    width: 480px;
    height: 43px;
    text-align: left;
}

.map_box_info div p {
    text-align: left;
    margin-top: 15px;
    width: 552px;
    height: 81px;
}

.countries_colloms {
    margin-top: 34px;
    padding-left: 25px;
    height: 403px;
    justify-content: space-between;
}

.colloms {
    height: 100%;
}

.colloms ul {
    display: flex;
    flex-direction: column;
}


.countries_colloms div ul li {
    position: relative;
    padding-left: 1ch;
    height: 25.90px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    text-align: left;
}

.countries_colloms div ul li:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #E3DBEB;
    width: 120px;
    transform: translateX(-42%);
    bottom: -2px;
    left: 50%;
}

.img_map {
    width: 639px;
    height: 664px;
    margin-left: 59px;
    background-image: url(../images/world\ 1.svg);
}

/* ----------------------------------------------------------------------------------- */

.partners {
    height: 1097px;
    padding: 64px 0 80px 130px;
    text-align: left;
}

.partners_box {
    height: 100%;
}

.partners_info {
    display: flex;
}

.partners_info_text {
    margin-top: 109px;
    width: 511px;
    height: 272px;

}

.partners_info_text h1 {
    width: 511px;
    height: 86px;
}

.partners_info_text p {
    width: 479px;
    height: 162px;
    margin-top: 24px;
}

.partners_info_images {
    margin-left: 69px;
    width: 774px;
    height: 490px;
    background-image: url(../images/Rectangle\ 123.png);
}

.partners_info_images_img2 {
    box-sizing: border-box;

    position: absolute;
    width: 420px;
    height: 312px;
    margin-left: 180px;
    /* left: 890px; */
    top: 3368px;

    background: #D9D9D9;
    border: 10px solid #FFFFFF;
}

.partners_info_images_img1 {
    position: absolute;
    width: 320px;
    height: 238px;
    left: 710px;
    top: 3180px;

    background: #D9D9D9;
    border: 10px solid #FFFFFF;
}


.storage_info {
    margin-top: 57px;
    width: 1180px;
    height: 380px;
    display: flex;
}

.storage_info_img {
    width: 510px;
    height: 380px;
    background-image: url(../images/Rectangle\ 120.png);
}

.storage_info_text {
    margin-left: 90px;
    margin-top: 40.5px;
    width: 580px;
    height: 299px;
}

.storage_info_text p {
    width: 580px;
    height: 189px;
    margin-top: 24px;
}

/* ----------------------------------------------------------------------------------- */

.our_team {
    /* width: 1440px; */
    height: 581px;
    background: #F0EDF3;
    padding-top: 60px;
}

.our_team_box {
    width: 1180px;
    height: 461px;
    margin-left: 130px;
}

.our_team_box__head {
    width: 551px;
    height: 84px;
    margin: 0 auto;
}

.our_team_box__head h2 {
    margin-top: 14px;
    text-align: center;
}

.our_team_box__info {
    margin-top: 48px;
}

.team {
    gap: 20px;
}

.teammate {
    width: 280px;
    height: 329px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 4px 4px 13px;
}

.teammate_info {
    margin-top: 14px;
    margin-left: 14px;
}

.teammate_info h1,
.teammate_info_text div {
    text-align: left;
}

.teammate_info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.teammate_info_text {
    /* margin-top: -4px; */
    width: 252px;
    height: 50px;
}

.teammate_info_text div {
    width: 182px;
    height: 50px;
}

.teammate_info_text div p {
    margin-top: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #AAAAAA;
}

.teammate_info_text img {
    width: 24px;
    height: 24px;
    margin-left: 46px;
}

/* ----------------------------------------------------------------------------------- */

.get_in_touch {
    height: 443px;
    padding-inline: 130px;
    padding-top: 80px;
}

.get_in_touch__info {
    /* margin-left: 130px;
    margin-top: 80px; */

    width: 1180px;
    height: 283px;
}

.get_in_touch_text {
    width: 479px;
    height: 202px;
    margin-right: 121px;
}

.get_in_touch_text h1 {
    text-align: left;
}

.get_in_touch_text p {
    margin-top: 24px;
}

.section_get_in_touch__person {
    display: flex;
    gap: 19.98px;
}

.section_get_in_touch__form {
    width: 580px;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #D4D4D4;
}

input[type=email] {
    border: none;
    border-bottom: 1px solid #D4D4D4;
}

input[type=submit] {
    padding: 11px 24px;
    width: 106px;
    height: 41px;
    background: #E34234;
    border-radius: 14px;
    flex-grow: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 13px;
}

input::placeholder {
    width: 43px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height, or 193% */

    color: #000000;
}

textarea::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.align-right {
    text-align: right;

}


/* ----------------------------------------------------------------------------------- */
footer {
    height: 327px;
    background: #F0EDF3;
    padding-top: 40px;

}

.footer_box {
    width: 577px;
    height: 247px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #7C7C7C;
}

.logo_footer {
    margin: 0 auto;
}

.footer_nav_ul li a {
    color: #7C7C7C;
}

.social-icons {
    margin-top: 36px;
    width: 160px;
    height: 22px;
    margin: 0 auto;
}

.social-icons_nav {
    display: flex;
    justify-content: space-between;
}

.footer_nav {
    margin-top: 0;
    margin-left: 0;
}

@media only screen and (min-width: 1441px) {
    .header {
        padding-left: 210px;
        padding-right: 207px;
    }

    .slogan_about_company {
        margin-left: 210px;
    }

    .history_of_company {
        padding: 80px 210px;
    }

    .slider-container_our_products {
        margin-left: 170px;
    }

    .map {
        padding: 177px 20px 18px 210px;
    }

    .partners {
        padding: 64px 0 80px 210px;
    }

    .our_team_box {
        margin-left: 210px;
    }

    .get_in_touch {
        padding-inline: 210px;
    }

    .partners_info_images_img1 {
        left: 790px;
    }

    .partners_info_images_img2 {
        left: 970px;
    }
}

@media only screen and (min-width: 1700px) {
    .header {
        padding-left: 370px;
        padding-right: 367px;
    }

    .slogan_about_company {
        margin-left: 370px;
    }

    .history_of_company {
        padding: 80px 370px;
    }

    .slider-container_our_products {
        margin-left: 211px;
    }

    .map {
        padding: 177px 302px 18px 370px;
    }

    .partners {
        padding: 64px 0 80px 370px;
    }

    .our_team_box {
        margin-left: 370px;
    }

    .get_in_touch {
        padding-inline: 370px;
    }

    .partners_info_images_img1 {
        left: 950px;
    }

    .partners_info_images_img2 {
        left: 1130px;
    }
}

/* ----------------------------------MOBILE VERSION-------------------------------------------------- */

@media screen and (max-device-width: 700px),
screen and (max-width: 700px) {

    .header,
    .our-products_box {
        display: none;
    }

    .mobile-header {
        display: flex;
        flex-direction: column;
        width: 337px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding-top: 31px;
    }

    .mobile-nav-header {
        width: 337px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .history_of_company_box_head,
    .supplier-information,
    .slider_our_products {
        flex-direction: column;
        height: 100%;
    }

    .map_box {
        flex-direction: column;
    }

    .partners_info {
        flex-direction: column;
    }

    .storage_info {
        flex-direction: column-reverse;
    }

    .team {
        flex-direction: column;
    }

    .get_in_touch__info {
        flex-direction: column;
    }

    .section_get_in_touch__person {
        flex-direction: column;
    }

    .footer_nav {
        flex-direction: column;
    }

    header {
        height: 100vh;
        background-position-x: center;
        background-size: cover;
    }

    .slogan_about_company {
        width: 343px;
        padding-top: 20vh;
        margin: 0 auto;
    }

    .slogan_about_company__text {
        width: 343px;
        height: 192px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;

        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .history_of_company {
        padding: 0;
        height: 100%;
    }

    .history_of_company_box_head {
        gap: 24px;
    }

    .history_of_company_box_head h1 {
        width: 343px;
        padding-top: 48px;
        margin: 0 auto;
    }

    .history_of_company_box_head p {
        width: 343px;
        margin: 0 auto;
    }

    .supplier-information {
        padding-top: 24px;
        width: 343px;
        margin: 0 auto;
        gap: 24px;
    }

    .supplier-information_box {
        margin-right: 0;
    }

    .slider-container {
        margin-top: 1200px;
    }

    .slider-container_our_products {
        margin-left: 0;
        margin-bottom: 24px;
    }

    .slider_our_products {
        margin: 0 auto;
        gap: 24px;
    }

    .slick-track {
        gap: 10px;
    }

    .slider_img {
        width: 160px !important;
        height: 160px !important;
    }

    .mobile-our-products_box {
        width: 100vw;
        display: block;
        position: absolute;
        margin-top: 1411px;
    }

    .our_products_title {
        width: 196px;
        height: 36px;
        font-size: 30px;
    }

    .map {
        padding: 0;
        height: 100%;
        margin-top: 1600px;
    }

    .countries_colloms {
        margin-top: 24px;
    }

    .countries_colloms div ul li:after {
        width: 60px;
        transform: translateX(-84%);
    }
    .map_box {
        padding-top: 171px;
    }
    .map_box_info {
        width: 343px;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 24px;
    }

    .map_box_info div h1 {
        width: 300px;
        height: 36px;
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
    }

    .map_box_info div p {
        width: 343px;
        height: 100%;
    }

    .img_map {
        width: 343px;
        height: 356px;
        margin: 0 auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .partners {
        padding: 0;
        height: 100%;
    }

    .partners_info_text {
        width: 343px;
        padding-top: 40px;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .partners_info_text h1 {
        width: 343px;
        height: 108px;
        font-size: 30px;

    }

    .partners_info_text p {
        width: 343px;
        height: 243px;
        margin-top: 15px;

    }

    .partners_info_images {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        max-width: 429px;
        height: 283px;
        margin: 0 auto;
        background-size: 150%;
        background-position-y: -90px;
        background-position-x: -100px;
        background-repeat: no-repeat;
    }

    .partners_info_images_img2 {
        width: 243px;
        height: 181px;
        margin-left: 132px;
        top: 110px;
        border: 0;
    }

    .partners_info_images_img1 {
        width: 210px;
        height: 158px;
        left: 14px;
        top: -19px;
        border: 0;
    }

    .storage_info {
        height: 100%;
        width: 100vw;
        margin-top: 0;
    }

    .storage_info_img {
        width: 343px;
        height: 256px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .storage_info_text {
        width: 343px;
        height: 100%;
        padding-top: 38px;
        margin: 0 auto;
    }

    .storage_info_text p {
        width: 343px;
        height: 297px;
    }

    .our_team {
        height: 1550px;
        padding-top: 32px;
    }

    .our_team_box {
        width: 343px;
        margin: 0 auto;
    }

    .our_team_box__head {
        width: 343px;
        height: 104px;
    }

    .our_team_box__info {
        margin-top: 24px;
    }

    .team {
        align-items: center;
    }

    .get_in_touch {
        padding: 0;
        height: 667px;
    }

    .get_in_touch__info {
        width: 343px;
        margin: 0 auto;
    }

    .get_in_touch_text {
        width: 343px;
        height: 100%;
        margin-top: 48px;
    }

    .get_in_touch_text p {
        margin-top: 15px;
    }

    .section_get_in_touch__form {
        width: 343px;
        margin-top: 32px;
    }

    .align-right {
        text-align: center;
    }

    input[type=submit] {
        width: 343px;
    }

    #firstname,
    #email,
    #subject,
    #message {
        width: 343px;
    }
    #subject {
        height: 100px;
        margin-top: 14px;
    }

    .footer {
        height: 483px;
    }

    .footer_box {
        width: 343px;
        height: 403px;
    }

    .footer_nav_ul {
        flex-direction: column;
        width: 161px;
        height: 175px;
        margin: 0 auto;
    }

    .mobile-menu {
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(207, 47, 33, 0.95);
        justify-content: center;
        transition: 1000ms ease all;
    }


    .mobile-menu li,
    .mobile-menu li a {
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        margin-left: 0;
        padding: 20px 40px;
        color: #FFFFFF;
    }

    .mobile-menu .button {

        margin: 0 auto;
        margin-top: 80px;
        width: 343px !important;
    }

    .mobile-menu-btn {
        z-index: 3;
        transition: 1000ms ease all;
    }

    .active-menu-btn {
        transform: rotate(180deg);
    }

    .slide-out {
        top: 0;
        max-width: 429px;
        height: 667px;
        padding-top: 104px;
    }

    .display-none {
        display: none;
    }

    .mobile-menu-btn .fa-close,
    .mobile-menu-btn .fa-bars {
        right: 25px;
        font-size: 48px;
        color: #FFFFFF;
        cursor: pointer;
    }
    .mobile-menu-btn .fa-close {
        position: fixed;
    }
    .mobile-header ul.active {
        display: block;
    }
}